    <section id="splash" class="splash">
		<article>
			<h1>Quick<span class="semi-opacity">Example</span></h1>
			<div>
				<a href="#main" class="section button big twitter" data-icon="twitter">Lungo Node WS</a>
			</div>
		</article>
	</section>   

	<section id="main">
		<header data-title="Lungo Node WS">
		</header>

        <article id="settings" class="list">
			<ul>
			<li>Some Settings</li>
			<ul>
		</article>
        <footer class="toolbar">
            <nav>
                <a href="#friends" class="section" data-title="Broadcast" data-icon="group"></a>
                <a href="#settings" class="article current" datatitle="Settings" data-icon="user config"></a>
            </nav>
        </footer>
    </section>
    
	 <section id="friends">
        <header data-back="home articblue" data-title="Following on Twitter" >
			<a href="#" id="loadfriends" class="button onright articblue" data-icon="add">Load</a>
        </header>
        <article class="list" id="twitters">
		</article>
        <footer class="toolbar">
        </footer>
    </section>




